
:root{
    font-size: 10px;
}

* {

    font-family: 'Times New Roman', Times, serif;

}

h1 {
    justify-items: center;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    
    
}

#div.button {
    text-align: center;
    margin: 3rem;
    flex-basis: 50%;
}

.butao {

    width: 15rem;
    margin: 1rem;
    border: 0.15rem solid rgba(255, 255, 255, 0.589);
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.712);
    font-size: 2rem;

    border-radius: 3rem;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.397);
    color: rgb(0, 0, 0);
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.308);
    transition: 0.5s all;
    display: inline-block;
}

button {
    text-align: center;
    width: 6rem;
    border: 2px solid;
    background: rgba(255, 255, 255, 0.199);
    font-size: 1em;
    border-radius: 15px;
    margin: 10px;
    margin-top: 3px;
    padding: 7px;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.432);
}


#div button:hover {
    background-color: #52BF41;
    border: transparent;
    color: black;
    transform: scale(1.2);
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
body {
    margin: 0 auto;
    width: 100%;
    background-image: linear-gradient(60deg, rgba(0, 0, 0, 0.767), #22E6A4, #12C7FC, #4092CC, #22E6A4, rgba(0, 0, 0, 0.767));
    background-size: 1200% 1200%;
    animation: colors 12s infinite ease-in-out;
}